<header id="topNav">
  <a href="https://rockproject.eu" target="blank" id="branding">
    <div class="hamburger" (click)="toggleMobileMenu($event)" [class.close]="mobileMenuOpen"></div>
  </a>

  <div id="tools" [class.open]="mobileMenuOpen">
    <ul id="search" *ngIf="!isBack && !isModal">
      <li>
        <input 
          type="text" 
          placeholder="Search by tag"
          [ngModel]="search" 
          (ngModelChange)="onTyping( $event )"
          (blur)="onSearchFieldBlur()"
        >
        <a (click)="clearSearch()" id="clearSearch">&times;</a>
      </li>

      <li id="autocompleteContainer" [class.show]="search != ''">
        <ul>
          <li *ngFor="let action of filteredActions" (mousedown)="highlightAction(action)">
            <div class="action-data">{{action.name}}</div>

            <div class="action-tags">
              <span class="action-tag" [class.has-match]="tag.hasMatch" *ngFor="let tag of action.tags">
                #{{tag.label}}
              </span>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="replicators">
      <ng-container *ngFor="let rep of cities">
        <li *ngIf="rep.type == 'replicator'">
            <a (click)="jumpTo( $event, rep )">{{rep.name}}</a>
        </li>
      </ng-container>
    </ul>

    <ul id="navItems">
      <li *ngIf="isBack">
        <a class="is-back" [routerLink]="['/']">{{'Back' | uppercase}}</a>
      </li>

      <li *ngIf="isModal">
          <a class="toggle-large-modal" (click)="setModalStorySizeFirstClick()">{{'Enlarge' | uppercase}}</a>
          <a class="close-modal" (click)="setModalClosed()">{{'Close' | uppercase}}</a>
      </li>

      <li *ngIf="!isBack && !isModal">
        <a (click)="toggleCityList()">
          Fly to a model city

          <div id="cities" *ngIf="cities && showCityList">
            <ul class="city-list model-list">
              <li *ngFor="let model of cities">
                <a *ngIf="model.type == 'model'" (click)="jumpTo( $event, model )">{{model.name}}</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
</header>