$topNavH: 5vh;
$topNavHMobile: 5vh;
$topNavSearchWidth: 15vw;
$topNavBGCol: rgba(30, 30, 30, 1);
$darkGrey: $topNavBGCol;
$rockRed: #E31A2D;
$textCol: #9EA1A1;

#topNav {
    position: fixed;
    top: 0;
    left: 0;
    height: $topNavH;
    width: 95vw;
    z-index: 20;
    background-color: $topNavBGCol;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    color: $textCol;

    box-shadow: 0 0 15px $topNavBGCol;

    #branding {
        width: 200px;
        height: 20px;
        background-image: url('/assets/img/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    #tools {
        ul {
            float: left;
            list-style-type: none;

            &#search {
                height: $topNavH;

                li {
                    display: flex;
                    align-items: center;
                    height: $topNavH;

                    input {
                        height: 50%;
                        width: $topNavSearchWidth;
                        border: none;
                        background-color: $textCol;
                        border-radius: 15px;
                        padding: 0 15px;
                        color: $topNavBGCol;
                        font-weight: 700;

                        &:focus { outline: none; }
                    }

                    #clearSearch {
                        display: inline-block;
                        position: relative;
                        left: -15px;
                        color: $darkGrey;
                        cursor: pointer;
                    }

                    &#autocompleteContainer {
                        background-color: $topNavBGCol;
                        height: auto;
                        max-height: 80vh;
                        max-width: 600px;
                        overflow-y: auto;
                        position: absolute;
                        align-items: flex-start;
                        display: none;

                        ul {
                            padding: 15px;
                            padding-top: 0;
                            width: 100%;

                            li {
                                margin-top: 15px;
                                flex-direction: column;
                                height: auto;
                                cursor: pointer;

                                &:last-of-type {
                                    margin-bottom: 5px;
                                }

                                .action-data {
                                    width: 100%;
                                    font-weight: 700;
                                    font-size: 1rem;
                                    color: $rockRed;
                                }

                                .action-tags {
                                    width: 100%;
                                    font-weight: 300;

                                    .action-tag {
                                        &.has-match {
                                            font-weight: 700;
                                        }

                                        &:after {
                                            content: ', ';
                                        }
    
                                        &:last-of-type {
                                            &:after {
                                                content: '';
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.show {
                            display: flex;
                        }
                    }
                }
            }

            &#replicators {
                li {
                    float: left;

                    a {
                        height: $topNavH;
                        min-width: 100px;
                        text-align: right;
                        line-height: $topNavH;
                        display: inline-block;
                        cursor: pointer;
                        color: #E31A2D;
                        font-weight: 700;
                        text-transform: uppercase;
            
                        &:after {
                            content: '';
                            padding-right: 20px;
                            background-image: url('/assets/img/center-map-red.svg');
                            background-repeat: no-repeat;
                            background-position: center right;
                            background-size: 75%;
                        }
                    }
                }
            }
        
            &#navItems {
                li {
                    a {
                        height: $topNavH;
                        min-width: 150px;
                        text-align: right;
                        line-height: $topNavH;
                        display: inline-block;
                        cursor: pointer;
            
                        &:after {
                            content: '|';
                            margin-left: 10px;
                            padding-right: 20px;
                            background-image: url('/assets/img/chevron-down.svg');
                            background-repeat: no-repeat;
                            background-position: center right;
                            background-size: 50%;
                        }

                        &.is-back {
                            color: $textCol;
                            text-decoration: none;

                            &:after {
                                content: '';
                                margin-left: 0;
                                padding-right: 30px;
                                background-image: url('/assets/img/back-icon.svg');
                                background-repeat: no-repeat;
                                background-position: center right;
                                background-size: 50%;
                            }
                        }

                        &.toggle-large-modal {
                            color: $textCol;
                            text-decoration: none;
                            min-width: auto;
                            margin-right: 15px;

                            &:after {
                                content: '';
                                margin-left: 0;
                                padding-right: 30px;
                                background-image: url('/assets/img/enlarge-icon.svg');
                                background-repeat: no-repeat;
                                background-position: center right;
                                background-size: 50%;
                            }
                        }

                        &.close-modal {
                            color: $textCol;
                            text-decoration: none;
                            min-width: auto;

                            &:after {
                                content: '';
                                margin-left: 0;
                                padding-right: 30px;
                                background-image: url('/assets/img/close-modal-icon.svg');
                                background-repeat: no-repeat;
                                background-position: center right;
                                background-size: 50%;
                            }
                        }
                    }
        
                    #cities {
                        position: fixed;
                        top: $topNavH;
                        right: 0;
                        padding: 0 30px;
                        background-color: $topNavBGCol;
        
                        .city-list {
                            list-style-type: none;
                            padding: 0;
                            margin: 15px 0;
        
                            li {
                                &.separator {
                                    border-bottom: 1px solid #9EA1A1;
                                    margin-bottom: 10px;
                                    text-align: left;
        
                                    span {
                                        display: inline-block;
                                        width: 10px;
                                        height: 10px;
                                        background-color: #9EA1A1;
                                        border-radius: 50%;
                                        margin-right: 15px;
                                    }
                                }
        
                                a {
                                    font-weight: 900;
                                    font-size: 1rem;
                                    text-align: left;
        
                                    &:after {
                                        content: none;
                                        display: none;
                                    }
                                }
                            }
        
                            &.replicator-list {
                                color: #E31A2D;
        
                                li {
                                    &.separator {
                                        border-bottom: 1px solid #E31A2D;
            
                                        span {
                                            background-color: #E31A2D;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    #topNav {
        height: $topNavHMobile;
        min-height: 40px;
        width: 90vw;
        padding: 0 5vw;

        #branding {
            width: 100%;
            height: 20px;

            .hamburger {
                position: relative;
                float: right;
                width: 20px;
                height: 20px;
                background-image: url('/assets/img/hamburger.svg');

                &.close {
                    background-position-y: -20px;
                }
            }
        }

        #tools {
            background-color: rgba($darkGrey, .85);
            position: absolute;
            top: $topNavHMobile;
            left: 0;
            display: none;

            ul {
                width: 90%;
                padding: 0 5%;
                margin: 0;

                &#search {
                    margin-top: 15px;
                    margin-bottom: 10px;

                    li {
                        display: block;

                        input {
                            float: left;
                            height: auto;
                            width: 90%;
                            padding: 5px 5%;
                        }
    
                        #clearSearch {
                            float: right;
                            top: -19px;
                            margin-right: -5px;
                        }
    
                        &#autocompleteContainer {
                            max-height: 70vh;
                            max-width: 80vw;
                            padding: 15px;
                            border-radius: 4px;
    
                            ul {
                                padding: 0;
                                padding-top: 0;
                            }
                        }
                    }
                }

                &#replicators {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    li {
                        a {
                            min-width: initial;
                        }
                    }
                }

                &#navItems {
                    margin-bottom: 10px;

                    li {
                        text-align: center;

                        a {
                            min-width: auto;
                            width: 100%;
                            text-align: center;
                        }

                        #cities {
                            top: 25vh;
                            width: 80vw;
                            left: 10vw;
                            right: initial;
                            padding: 0;
                            border-radius: 4px;

                            ul {
                                width: 100%;

                                li {
                                    a {
                                        text-align: center!important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.open {
                display: block;
            }
        }
    }
}