<div 
    id="map" 
    [class.shrinked1]="sidebarOpen" 
    [class.shrinked2]="sidebar2Open" 
    [class.resizing]="mapResizing" 
    (transitionend)="onMapDivTransitionEnd($event)"
></div>

<div class="map-controls">
    <a class="map-control zoom-in" (click)="map.zoomIn()"></a>
    <a class="map-control center" (click)="centerMap()"></a>
    <a class="map-control zoom-out" (click)="map.zoomOut()"></a>
</div>

<aside id="sidebar" [class.open]="sidebarOpen">
    <div class="sidebar-header">
        <div class="sidebar-handle" (click)="toggleSidebar()" [class.open]="sidebarOpen"></div>
    </div>

    <p class="sidebar-text">
        The Rock Atlas is an interactive platform that accompanies the development of the Rock project in the three replicator cities, 
        mapping the urban context, the actions carried out within the project and the connection with the model practices 
        implemented in the network of cities participating in the project.
    </p>

    <ul class="sidebar-accordion">
        <ng-container *ngFor="let element of dataTree; let i1 = index">
            <li
                *ngIf="element.categories.length > 0 && element.name !== 'practices'" 
                class="accordion-item" 
                [class.disabled]="rockMode"
            >
                <a (click)="toggleCollapse(i1)" [class.selected]="selects[i1]" title="{{element.label}}">
                    <span (click)="toggleLevel($event, i1)" class="switch" [class.off]="switches[i1] && switches[i1].off" [class.selected]="selects[i1]">
                        <span class="bullet"></span>
                    </span>
                    {{element.label}}
                </a>

                <ul 
                    *ngIf="element.categories.length > 0" 
                    class="sidebar-categories sidebar-{{element.name}}" 
                    [class.collapsed]="collapses[i1].collapsed"
                >
                    <li *ngFor="let cat of element.categories; let i2 = index">
                        <a (click)="toggleCollapse(i1, i2)" title="{{ cat.name }}">
                            <span 
                                (click)="toggleLevel($event, i1, i2)"
                                class="switch" 
                                [class.off]="
                                    switches[i1] && 
                                    switches[i1].children && switches[i1].children[i2] && 
                                    switches[i1].children[i2].off
                                "
                                [ngStyle]="{'background-color': cat.color}" 
                            >
                                <span class="bullet"></span>
                            </span>
                            <cl-image class="cat-icon" *ngIf="cat.icon2 else catIcon1" public-id="{{cat.icon2.public_id}}">
                                <cl-transformation height="15" width="15" crop="fit" dpr="auto" quality="auto" fetch-format="auto"></cl-transformation>
                            </cl-image>
                            <ng-template #catIcon1>
                                <cl-image class="cat-icon" *ngIf="cat.icon" public-id="{{cat.icon.public_id}}">
                                    <cl-transformation height="15" width="15" crop="fit" dpr="auto" quality="auto" fetch-format="auto"></cl-transformation>
                                </cl-image>
                            </ng-template>
                            {{cat.name}}
                        </a>

                        <ul 
                            *ngIf="cat.types.length > 0" 
                            class="sidebar-types sidebar-{{element.singular}}-types" 
                            [class.collapsed]="collapses[i1].children[i2].collapsed"
                        >
                            <li *ngFor="let type of cat.types, let i3 = index">
                                <a (click)="toggleCollapse(i1, i2, i3)">
                                    <span 
                                        (click)="toggleLevel($event, i1, i2, i3)"
                                        class="switch outline" 
                                        [class.off]="
                                            switches[i1] && 
                                            switches[i1].children && switches[i1].children[i2] && 
                                            switches[i1].children[i2].children && switches[i1].children[i2].children[i3] &&
                                            switches[i1].children[i2].children[i3].off
                                        "
                                        [ngStyle]="{
                                            'color': cat.color, 
                                            'border': '1px solid ' + cat.color, 
                                            'background-color': '#1e1e1e'
                                        }" 
                                    >
                                        <span class="bullet" [ngStyle]="{'background-color': cat.color}"></span>
                                    </span>
                                    <span [innerHTML]="getSymbol(type.symbol, cat.color)"></span>
                                    {{type.name}}
                                </a>

                                <ul 
                                    class="sidebar-items sidebar-{{element.singular}}-items" 
                                    [class.collapsed]="collapses[i1].children[i2].children[i3].collapsed"
                                >
                                    <li *ngFor="let item of type.items; let i4 = index">
                                        <!-- <a (click)="toggleLevel(i1, i2, i3, i4)">{{item.name}}</a> -->
                                        <a (click)="showItemCard($event, item)" title="{{item.name}}">{{item.name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <!-- <ng-template #noTypes>
                            <ul 
                                class="sidebar-types sidebar-{{element.singular}}-types" 
                                [class.collapsed]="collapses[i1].children[i2].collapsed"
                            >
                                <li *ngFor="let item of cat.items">
                                    <a title="{{item.name}}">{{item.name}}</a>
                                </li>
                            </ul>

                            <ul 
                                class="sidebar-types sidebar-{{element.singular}}-types" 
                                [class.collapsed]="collapses[i1].children[i2].collapsed"
                            >
                                <li>
                                    <a (click)="toggleCollapse(i1, i2, 0)">
                                        <span 
                                            (click)="toggleLevel($event, i1, i2)"
                                            class="switch outline" 
                                            [class.off]="
                                                switches[i1] && 
                                                switches[i1].children && switches[i1].children[i2] && 
                                                switches[i1].children[i2].children && switches[i1].children[i2].children[0] &&
                                                switches[i1].children[i2].children[0].off
                                            "
                                            [ngStyle]="{
                                                'color': 'cat.color', 
                                                'border': '1px solid ' + cat.color, 
                                                'background-color': '#1e1e1e'
                                            }" 
                                        >
                                            <span class="bullet" [ngStyle]="{'background-color': cat.color}"></span>
                                        </span>
                                        ---
                                    </a>
    
                                    <ul 
                                        class="sidebar-items sidebar-{{element.singular}}-items" 
                                        [class.collapsed]="collapses[i1].children[i2].collapsed"
                                    >
                                        <li *ngFor="let item of cat.items">
                                            <a title="{{item.name}}">{{item.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </ng-template> -->
                    </li>
                </ul>
            </li>
        </ng-container>
    </ul>

    <div class="sidebar-credits">
        <img src="/assets/img/logoRock-UEflag.svg" alt="">
    </div>
</aside>

<aside id="sidebar2" [class.open]="sidebar2Open">
    <div class="sidebar2-inner" *ngIf="currentItem">
        <div class="sidebar2-header">
            <h1>{{currentItem.name}}</h1>
            <div class="close-sidebar2" (click)="hideSidebar2()"></div>
        </div>

        <div class="sidebar2-body">
            <div class="sidebar2-gallery">
                <div class="image-container" *ngFor="let image of currentItem.images">
                    <div class="image-container-inner">
                        <cl-image style="width: 100%; display: block; max-height: 100%;" class="cl-image-wrapper" public-id="{{image.public_id}}">
                            <cl-transformation width="320" height="320" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
                        </cl-image>
                    </div>
                </div>
            </div>

            <div class="sidebar2-place" *ngIf="currentItem.address && currentItem.address.street">
                <span><strong>{{ currentItem.address.street }}</strong></span>, 
                <span>{{ currentItem.address.zipcode }} {{ currentItem.address.city }}</span> 
                <span *ngIf="currentItem.address.country">({{ currentItem.address.country }})</span>
            </div>

            <div class="sidebar2-time-span">
                <span *ngIf="currentItem.startDate" class="from">{{currentItem.startDate}}</span>
                <span *ngIf="currentItem.startDate && currentItem.endDate">&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>
                <span *ngIf="currentItem.startDate && currentItem.endDate" class="to">{{currentItem.endDate}}</span>
            </div>

            <div class="sidebar2-tags" *ngIf="currentItem.tags && currentItem.tags.length > 0">
                <a href="#" (click)="searchByTag(tag.label)" class="tag-badge" *ngFor="let tag of currentItem.tags">#{{tag.label}}</a>
            </div>

            <div class="sidebar2-separator" *ngIf="currentItem.summary"></div>

            <div class="sidebar2-text" *ngIf="currentItem.summary">
                <p [innerHTML]="currentItem.summary"></p>
            </div>

            <div class="sidebar2-separator" *ngIf="currentItem.relatedActions && currentItem.relatedActions.length > 0"></div>

            <div class="sidebar2-related" *ngIf="currentItem.relatedActions && currentItem.relatedActions.length > 0">
                <h5>Related actions</h5>
                <ul id="relatedList">
                    <li class="related-item" *ngFor="let related of currentItem.relatedActions">
                        <a class="related-link" (click)="showItemCardFromRelatedLink(related.key)">{{related.name}}</a>
                    </li>
                </ul>
                <div style="clear: both;"></div>
            </div>

            <div class="sidebar2-longform-cta" *ngIf="currentItem.blocks && currentItem.blocks.length > 0">
                <!-- <a [routerLink]="['/story', currentItem.key]">Read the full story <span>&#x21E2;</span></a> -->
                <a (click)="openStoryModal(currentItem)">Read the full story <span>&#x21E2;</span></a>
            </div>
        </div>
    </div>
</aside>

<app-header 
    [cities]="data.cities" 
    [actions]="data.actions" 
    (jump)="flyTo($event)" 
    (highlight)="showItemCardFromTagSearch($event)"
></app-header>

<div class="preloader" *ngIf="loading" [@preloaderAnimation]>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div id="storyModal" class="modal" [class.open]="isModalOpen">
    <div class="modal-overlay" (click)="closeStoryModal()"></div>
    <div id="storyModalScrollContainer" class="modal-content" [class.large]="isModalLarge" (transitionend)="onTransitionEnd($event)">
        <app-story-modal 
            (closeModal)="closeStoryModal()" 
            (enlargeModal)="enlargeStoryModal()" 
            (shrinkModal)="shrinkStoryModal()"
        ></app-story-modal>
    </div>
</div>