$darkGrey: rgba(30, 30, 30, 1);
$darkGreyTransparent: rgba(30, 30, 30, .85);
$rockRed: #E31A2D;
$textCol: #9EA1A1;

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    transition: left .3s ease, width .3s ease;
    -webkit-transition: left .3s ease, width .3s ease;

    &.shrinked1 {
        width: 75vw;
        left: 25vw;
    }

    &.shrinked2 {
        width: 40vw;
        left: 60vw;
    }

    &.resizing { opacity: 0; }
}

.map-controls {
    position: fixed;
    width: 30px;
    height: 100px;
    top: 60px;
    right: 2.5vw;
    z-index: 20;

    .map-control {
        position: relative;
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: $textCol;
        margin-bottom: 5px;
        border-radius: 2px;
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: pointer;

        &.zoom-in {
            background-image: url('/assets/img/zoom-in.svg');
        }

        &.center {
            background-image: url('/assets/img/center-map.svg');
            background-size: 50%;
        }

        &.zoom-out {
            background-image: url('/assets/img/zoom-out.svg');
        }
    }
}

#sidebar {
    position: fixed;
    width: 25vw;
    height: 92.5vh;
    padding: 2.5vw;
    padding-top: 5vh;
    background-color: $darkGrey;
    color: $textCol;
    z-index: 20;
    left: -27.5vw;
    box-shadow: 0 0 15px $darkGrey;

    transition: left .3s ease;
    -webkit-transition: left .3s ease;

    &.open { left: 0; }

    .sidebar-header {
        position: relative;
        width: 30vw;
        height: 5vh;
        margin-left: -2.5vw;

        .sidebar-handle {
            width: 2.5vw;
            height: 45px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('/assets/img/close-sidebar.svg');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 50%;
            cursor: pointer;

            transform: scaleX(-1);
            -webkit-transform: scaleX(-1);

            transition: transform .75s ease;
            -webkit-transition: transform .75s ease;

            &.open {
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
            }
        }
    }

    .sidebar-text {
        margin: 0;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar-accordion {
        padding: 0;
        padding-right: 15px;
        margin: 0;
        list-style-type: none;
        height: 65vh;
        overflow: hidden;
        overflow-y: scroll;

        .accordion-item {
            transition: opacity .3s ease;
            -webkit-transition: opacity .3s ease;

            &.disabled {
                opacity: 0.25;

                a { 
                    pointer-events: none; 
                    cursor: not-allowed;
                }
            }

            a {
                position: relative;
                display: inline-block;
                height: 60px;
                width: 100%;
                line-height: 60px;
                font-size: 1.15rem;
                font-weight: 900;
                text-decoration: none;
                color: $textCol;
                cursor: pointer;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                background-image: url('/assets/img/chevron-down.svg');
                background-repeat: no-repeat;
                background-position: center right;
                background-size: 15px;

                &.selected {
                    color: $rockRed;
                    background-image: url('/assets/img/chevron-down-red.svg');
                }

                .cat-icon {
                    position: relative;
                    margin-right: 5px;
                    top: 2px;
                }

                .switch {
                    width: 38px;
                    height: 16px;
                    border-radius: 16px;
                    display: inline-block;
                    position: relative;
                    margin-right: 10px;
                    top: 2px;
                    background-color: $textCol;
                    overflow: hidden;

                    &.selected {
                        background-color: $rockRed;
                    }

                    &.off {
                        .bullet { 
                            left: 2px;

                            &:before {
                                content: 'off';
                                left: 14px;
                            }
                        }
                    }

                    &.outline {
                        .bullet {
                            &:before {
                                color: inherit;
                                font-weight: 400;
                            }
                        } 
                    }

                    .bullet {
                        width: 12px;
                        height: 12px;
                        background-color: $darkGrey;
                        position: relative;
                        border-radius: 50%;
                        top: 2px;
                        float: left;
                        left: 24px;

                        transition: left .3s ease;
                        -webkit-transition: left .3s ease;

                        &:before {
                            content: 'on';
                            position: absolute;
                            top: -24px;
                            left: -18px;
                            color: $darkGrey;
                            font-size: 0.85rem;
                        }
                    }
                }
            }

            .sidebar-categories {
                position: relative;
                display: block;
                list-style-type: none;
                height: auto;
                overflow: hidden;
                padding-left: 15px;

                transition: height .3s ease;
                -webkit-transition: height .3s ease;

                &.collapsed { height: 0; }

                li {
                    border-bottom: none;

                    &:last-of-type { margin-bottom: 15px; }

                    a {
                        height: 45px;
                        line-height: 45px;
                        color: $textCol;
                        font-size: 1rem;
                        background-image: none;

                        .switch {
                            top: 3px;

                            .bullet {
                                &:before { top: -17px; }
                            }
                        }
                    }

                    .sidebar-types {
                        position: relative;
                        display: block;
                        list-style-type: none;
                        padding-left: 15px;
                        overflow: hidden;

                        transition: height .3s ease;
                        -webkit-transition: height .3s ease;

                        &.collapsed { height: 0; }
                        &.expanded { height: auto; }

                        li {
                            a {
                                span:not(.switch):not(.bullet) {
                                    width: 15px;
                                    display: inherit;
                                    margin-right: 7px;
                                    top: 1px;
                                    position: relative;
                                }
                            }

                            .sidebar-items {
                                position: relative;
                                display: block;
                                list-style-type: none;
                                padding-left: 15px;
                                overflow: hidden;

                                &.collapsed { height: 0; }
                                &.expanded { height: auto; }

                                li {
                                    a {
                                        height: 30px;
                                        line-height: 30px;
                                        font-weight: 400;
                                        font-size: 0.85rem;
                                    }
                                }
                            }
                        }
                    }
                }

                &.sidebar-contexts {
                    li {
                        a {
                            cursor: default;

                            .switch {
                                cursor: pointer;
                            }
                        }
                    }
                }

                &.sidebar-actions {
                    li {
                        a {
                            background-image: url('/assets/img/chevron-down.svg');
                            background-repeat: no-repeat;
                            background-position: center right;
                            background-size: 10px;
                            width: 90%;
                            padding-right: 7.5%;
                        }

                        .sidebar-types {
                            .sidebar-items {
                                li {
                                    a {
                                        background-image: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar-credits {
        height: 7.5vh;
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

#sidebar2 {
    position: fixed;
    width: 25vw;
    height: 90vh;
    padding: 5vh 2.5vw;
    background-color: lighten( $darkGrey, 1 );
    color: $textCol;
    z-index: 19;
    top: 0;
    left: -27.5vw;
    box-shadow: 0 0 15px $darkGrey;

    transition: left .3s ease;
    -webkit-transition: left .3s ease;

    &.open { left: 30vw; }

    .sidebar2-inner {
        height: 100%;
        overflow: hidden;

        .sidebar2-header {
            margin-bottom: 15px;
            position: relative;

            h1 {
                width: 85%;
            }

            .close-sidebar2 {
                width: 30px;
                height: 30px;
                position: absolute;
                right: 0;
                top: 0;
                background: url('/assets/img/close-sidebar-2.svg');
                background-position: 50%;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }

        .sidebar2-body {
            overflow: hidden;
            overflow-y: scroll;
            height: 90%;

            .sidebar2-gallery {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 15px;
                padding-right: 30px;

                .image-container {
                    position: relative;
                    flex-basis: 50%;

                    &:before {
                        content: '';
                        display: block;
                        padding-top: 100%;
                    }

                    .image-container-inner {
                        position: absolute;
                        top: 0; 
                        left: 0;
                        height: 100%;
                        width: 100%;

                        .cl-image-wrapper {
                            width: 100%;
                            height: 100%;
                            display: block;

                            > * {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }

            .sidebar2-time-span {
                margin-bottom: 15px;

                span {
                    font-size: .95rem;
                    font-weight: 700;
                }
            }

            .sidebar2-tags {
                margin-bottom: 30px;

                .tag-badge {
                    display: inline-block;
                    padding: 3px 7px;
                    padding-bottom: 5px;
                    border: 1px solid $textCol;
                    border-radius: 15px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                    font-size: 10px;
                    font-weight: 700;
                    text-decoration: none;

                    &:hover {
                        background-color: $textCol;
                        color: $darkGrey;
                    }
                }
            }

            .sidebar2-text {
                margin-bottom: 15px;

                p { 
                    font-size: 1.25rem; 
                    font-weight: 300;
                    line-height: 2rem;
                    width: 90%;
                }
            }

            .sidebar2-separator {
                position: relative;
                width: 100%;
                height: 1px;
                background-color: $textCol;
                width: 90%;
            }

            .sidebar2-related {
                #relatedList {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    .related-item {
                        float: left;

                        .related-link {
                            text-decoration: none;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }

                            &::after {
                                content: ',\00a0';
                            }
                        }

                        &:last-of-type {
                            .related-link {
                                &::after {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }

            .sidebar2-longform-cta {
                padding: 60px 0;

                a {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: #9EA1A1;
                    width: 80%;
                    left: 5%;
                    border: 1px solid $textCol;
                    border-radius: 30px;
                    text-align: center;
                    padding: 15px 0;
                    cursor: pointer;

                    &:hover {
                        background-color: #9EA1A1;
                        color: #1e1e1e;
                    }
                }
            }
        }
    }
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, .75);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        width: 40px;
        height: 40px;

        position: relative;
        margin: 100px auto;

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #ffffff;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        
        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
    }
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    
    transform: scale(0);
    -webkit-transform: scale(0);

    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $darkGreyTransparent;
    }

    .modal-content {
        position: relative;
        width: 60%;
        height: 70%;
        overflow-y: auto;
        opacity: 0;

        transition: all .5s ease;
        -webkit-transition: all .3s ease;

        &.large {
            width: 95%;
            height: 85%;
        }
    }

    &.open {
        transform: scale(1);
        -webkit-transform: scale(1);

        .modal-content {
            opacity: 1;
        }
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    #sidebar{
        width: 70%;
        height: 90%;
        padding: 10%;
        padding-left: 5%;
        left: -77.5%;

        .sidebar-header {
            width: 100%;
            height: 3vh;

            .sidebar-handle {
                width: 12%;
                right: -19%;
                top: 2vh;
                height: 3vh;
            }
        }

        .sidebar-text {
            height: 20vh;
            font-size: 0.85rem;
            align-items: initial;
        }

        .sidebar-accordion {
            height: 57.5vh;
            margin-top: 2.5vh;
        }
    }
}