<app-header [isBack]="true"></app-header>

<div id="storyWrapper">
  <div id="storyHeader" [ngStyle]="{'background-image': coverImg}">
    <div id="storyTitleWrapper">
      <h1 [ngStyle]="{'color': (category | async)?.color}">{{(item | async)?.name}}</h1>
      <!-- <h3 [ngStyle]="{'color': hasCoverImg ? (category | async)?.color : '#9EA1A1'}"><em>{{(item | async)?.summary}}</em></h3> -->
      <h3><em>{{(item | async)?.summary}}</em></h3>
    </div>
  </div>
  <div id="storyContainer">
    <div class="block">
      <div class="block-inner">
        <!-- {{(item | async)?.geolocation | json}}<br />
        {{(item | async)?.status | json}}<br />
        {{(item | async)?.substatus | json}}<br />
        {{(item | async)?.startDate | json}}<br />
        {{(item | async)?.endDate | json}} -->
        <!-- <img [src]="mbStaticUrl" alt=""> -->
      </div>
    </div>
    <div class="block" *ngFor="let block of (item | async)?.blocks" [ngSwitch]="block.type">
      <!-- {{block.type}} -->
      <div class="block-inner" *ngSwitchCase="'image'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <cl-image 
          style="width: 100%; display: block; max-height: 100%;" 
          class="cl-image-wrapper" 
          public-id="{{block.content.public_id}}"
        >
          <cl-transformation width="768" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
        </cl-image>
      </div>

      <div class="block-inner" *ngSwitchCase="'video'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <cl-video 
          style="width: 100%; display: block; max-height: 100%;" 
          class="cl-video-wrapper" 
          public-id="{{block.content.public_id}}" 
          controls="true"
        >
          <cl-transformation width="768" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
        </cl-video>
      </div>

      <div class="block-inner" *ngSwitchCase="'youtube'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <iframe 
          width="100%" 
          height="315" 
          [src]="YTUrl(block.content)" 
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen></iframe>
      </div>

      <div class="block-inner" *ngSwitchCase="'title'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>
        <h1 innerHTML="block.content">{{ block.content }}</h1>
      </div>

      <div class="block-inner" *ngSwitchCase="'text'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>
        <div class="rich-text-container" [innerHTML]="block.content"></div>
      </div>
    </div>
  </div>
</div>