$darkGrey: rgba(30, 30, 30, 1);
$rockRed: #E31A2D;
$textCol: #9EA1A1;
$white: #ffffff;

#storyWrapper {
    background-color: $white;
    min-height: 200vh;

    #storyHeader {
        margin-top: 45px;
        height: 45vh;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        #storyTitleWrapper {
            width: 50vw;
            background-color: $white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                padding-top: 15px;
            }

            h3 {
                padding: 0 2.5vw;
                font-weight: 300;
                color: $textCol;
                
                $font-size: 16px;
                $line-height: 1.425;
                $lines-to-show: 3;

                display: block;
                display: -webkit-box;
                // max-width: 400px;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                margin-bottom: 15px;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                &:after {
                    content: '...';
                }
            }
        }
    }

    #storyContainer {
        max-width: 50vw;
        margin: auto;
        padding-bottom: 2.5vw;

        .block {
            .block-inner {
                padding: 0 2.5vw;

                .separator {
                    width: 50%;
                    height: 1px;
                    background-color: rgba($textCol, .25);
                    margin: 60px auto;

                    $rhombusSize: 10px;

                    .rhombus {
                        position: relative;
                        width: $rhombusSize;
                        height: $rhombusSize;
                        border: $rhombusSize / 2 solid $white;
                        background-color: $textCol;
                        margin: auto;
                        top: -$rhombusSize + 1;

                        transform: rotateZ(45deg);
                    }
                }

                h1 {
                    color: $textCol;
                    text-align: center;
                }

                p {
                    color: $textCol;
                    font-size: 1rem;
                }
            }
        }
    }
}