$darkGrey: rgba(30, 30, 30, 1);
$rockRed: #E31A2D;
$textCol: #616161;
$white: #ffffff;

#storyWrapper {
    background-color: $white;
    min-height: 200vh;

    #storyHeader {
        height: 45vh;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        #storyHeaderTools {
            position: fixed;
            top: 0;
            right: 0;
            height: 45px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .story-header-tool {
                display: inline-block;
                margin-left: 15px;
                line-height: 20px;
                color: $white;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    float: right;
                    margin-left: 5px;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: auto;
                }

                &#enlargeModal {
                    &::after {
                        background-image: url('/assets/img/enlarge-icon.svg');
                    }
                }

                &#shrinkModal {
                    &::after {
                        background-image: url('/assets/img/shrink-icon.svg');
                    }
                }

                &#closeModal {
                    margin-right: 15px;

                    &::after {
                        background-image: url('/assets/img/close-modal-icon.svg');
                    }
                }
            }
        }

        #storyTitleWrapper {
            width: 50vw;
            background-color: $white;
            text-align: center;

            h1 {
                padding: 1.25vw 2.5vw;
            }

            h3 {
                padding: 0 2.5vw;
                font-weight: 300;
                color: $textCol;
                
                $font-size: 16px;
                $line-height: 1.425;
                $lines-to-show: 3;

                display: block;
                display: -webkit-box;
                height: $font-size*$line-height*$lines-to-show;
                margin: 0 auto;
                margin-bottom: 15px;
                font-size: $font-size;
                line-height: $line-height;
                -webkit-line-clamp: $lines-to-show;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                &:after {
                    content: '...';
                }
            }
        }
    }

    #storyContainer {
        max-width: 85%;
        margin: auto;
        padding-bottom: 2.5vw;

        .block {
            .block-inner {
                padding: 0 2.5vw;

                .separator {
                    width: 50%;
                    height: 1px;
                    background-color: rgba($textCol, .25);
                    margin: 60px auto;

                    $rhombusSize: 10px;

                    .rhombus {
                        position: relative;
                        width: $rhombusSize;
                        height: $rhombusSize;
                        border: $rhombusSize / 2 solid $white;
                        background-color: $textCol;
                        margin: auto;
                        top: -$rhombusSize + 1;

                        transform: rotateZ(45deg);
                    }
                }

                h1 {
                    color: $textCol;
                    text-align: center;
                }

                p {
                    color: $textCol;
                    font-size: 1rem;
                }
            }

            &.map-block {
                .block-inner {
                    #mapSections {
                        display: flex;

                        #longFormMap {
                            width: 70%;
                            min-width: 70%;
                            height: 250px;
                        }

                        #longFormMeta {
                            padding-left: 30px;

                            .longform-meta {
                                margin-top: 0;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                .longform-meta-icon {
                                    display: inline-block;
                                    width: 30px;
                                    min-width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    background-size: 50%;
                                    background-position: 50%;
                                    background-repeat: no-repeat;
                                }

                                &.start-date {
                                    .longform-meta-icon {
                                        background-image: url('/assets/img/startdate-icon.svg');
                                    }
                                }

                                &.end-date {
                                    .longform-meta-icon {
                                        background-image: url('/assets/img/enddate-icon.svg');
                                    }
                                }

                                &.address {
                                    .longform-meta-icon {
                                        background-image: url('/assets/img/location-icon.svg');
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.link-block {
                .block-inner {
                    #storyExternalLinks {
                        display: flex;

                        .story-externals {
                            width: 50%;

                            ul {
                                list-style-type: none;
                                padding: 0;

                                li {
                                    margin-bottom: 5px;

                                    a {
                                        display: inline-block;
                                        max-width: 100%;
                                        padding-left: 20px;
                                        overflow: hidden;
                                        text-decoration: none;

                                        &:hover {
                                            text-decoration: underline;
                                        }

                                        &::before {
                                            content: ' ';
                                            position: absolute;
                                            margin-left: -20px;
                                            margin-top: 4px;
                                            width: 10px;
                                            height: 10px;
                                            background-image: url('/assets/img/external-link-icon.svg');
                                            background-position: 50%;
                                            background-size: 100%;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                }
                            }

                            &#stakeholders {
                                padding-right: 10px;
                            }

                            &#links {
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}