<div id="storyWrapper">
  <div id="storyHeader" [ngStyle]="{'background-image': coverImg}">
    <div id="storyHeaderTools">
      <a *ngIf="!isModalLarge" class="story-header-tool" (click)="enlargeStoryModal()" id="enlargeModal">ENLARGE</a>
      <a *ngIf="isModalLarge" class="story-header-tool" (click)="shrinkStoryModal()" id="shrinkModal">SHRINK</a>
      <a class="story-header-tool" (click)="closeStoryModal()" id="closeModal">CLOSE</a>
    </div>
    <div id="storyTitleWrapper">
      <h1 [ngStyle]="{'color': (category | async)?.color}">{{(item | async)?.name}}</h1>
      <h3><em>{{(item | async)?.summary}}</em></h3>
    </div>
  </div>

  <div id="storyContainer">
    <div class="block map-block">
      <div class="block-inner">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <div id="mapSections">
          <div id="longFormMap"></div>
          <div id="longFormMeta">
            <p class="longform-meta start-date">
              <span class="longform-meta-icon" [style.background-color]="(category | async)?.color"></span>
              <span class="longoform-meta-data">{{(item | async)?.startDate}}</span>
            </p>

            <p class="longform-meta end-date">
              <span class="longform-meta-icon" [style.background-color]="(category | async)?.color"></span>
              <span class="longoform-meta-data">{{(item | async)?.endDate}}</span>
            </p>

            <p class="longform-meta address">
              <span class="longform-meta-icon" [style.background-color]="(category | async)?.color"></span>
              <span class="longoform-meta-data">
                {{ (item | async)?.address.street }},
                {{ (item | async)?.address.zipcode }} {{ (item | async)?.address.locality }} - 
                <em>{{ (item | async)?.address.country }}</em>
              </span>
            </p>

            <p class="longform-meta status">
                <span class="longform-meta-icon" [style.background-color]="(category | async)?.color"></span>
                <span class="longoform-meta-data">{{(item | async)?.status}} | {{(item | async)?.substatus}}</span>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="block" *ngFor="let block of (item | async)?.blocks" [ngSwitch]="block.type">
      <div class="block-inner" *ngSwitchCase="'image'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <cl-image 
          style="width: 100%; display: block; max-height: 100%;" 
          class="cl-image-wrapper" 
          public-id="{{block.content.public_id}}"
        >
          <cl-transformation width="768" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
        </cl-image>
      </div>

      <div class="block-inner" *ngSwitchCase="'video'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <cl-video 
          style="width: 100%; display: block; max-height: 100%;" 
          class="cl-video-wrapper" 
          public-id="{{block.content.public_id}}" 
          controls="true"
        >
          <cl-transformation width="768" crop="fill" quality="auto" fetch-format="auto"></cl-transformation>
        </cl-video>
      </div>

      <div class="block-inner" *ngSwitchCase="'youtube'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <iframe 
          width="100%" 
          height="315" 
          [src]="YTUrl(block.content)" 
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen></iframe>
      </div>

      <div class="block-inner" *ngSwitchCase="'title'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>
        <h1>{{block.content}}</h1>
      </div>

      <div class="block-inner" *ngSwitchCase="'text'">
        <div class="separator">
          <div class="rhombus"></div>
        </div>
        <div class="rich-text-container" [innerHTML]="block.content"></div>
      </div>

      <div class="block-inner" *ngSwitchCase="'caption'">
        <p class="caption"><small>{{block.content}}</small></p>
      </div>
    </div>

    <div class="block link-block">
      <div class="block-inner">
        <div class="separator">
          <div class="rhombus"></div>
        </div>

        <div id="storyExternalLinks">
          <div class="story-externals" id="stakeholders" *ngIf="hasStakeHolders">
            <h6>Stakeholders</h6>
            <ul>
              <li *ngFor="let sh of (item | async)?.stakeholders">
                <a href="{{sh.url || '#'}}" target="blank" [style.color]="(category | async)?.color">{{sh.name}}</a>
              </li>
            </ul>
          </div>

          <div class="story-externals" id="links" *ngIf="hasLinks">
            <h6>Link</h6>
            <ul>
              <li *ngFor="let link of (item | async)?.links">
                <a href="{{link.label}}" target="blank" [style.color]="(category | async)?.color">{{link.label}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="separator">
          <div class="rhombus"></div>
        </div>
      </div>
    </div>
  </div>
</div>