/* You can add global styles to this file, and also import other style files */

// @import '../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import '../node_modules/mapbox-gl/src/css/mapbox-gl.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

$darkGrey: rgba(30, 30, 30, 1);
$rockRed: #E31A2D;
$textCol: #9EA1A1;
$white: #ffffff;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    background-color: $darkGrey;
    color: $textCol;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #9EA1A1;
}

.mapboxgl-marker {
    z-index: 0;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    &.switched-off {
        opacity: 0;
        pointer-events: none;
    }

    &.model-city-marker {
        width: 30px;
        height: 30px;
        background-image: url('/assets/img/model-city-marker.svg');
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &.replicator-city-marker {
        width: 45px;
        height: 45px;
        background-image: url('/assets/img/replicator-city-marker.svg');
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &.action-marker {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        cursor: pointer;

        transition: width .3s ease, height .3s ease;
        -webkit-transition: width .3s ease, height .3s ease;

        &.highlighted {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 5px solid #9EA1A1;
            z-index: 10;
            box-shadow: 0 0 30px rgba(30, 30, 30, 1);

            .marker-inner {
                width: 30px;
                height: 30px;

                svg {
                    transform: scale(.75);
                    -webkit-transform: scale(.75)
                }
            }
        }
        
        .marker-inner {
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }

    &.context-marker {
        // width: 30px;
        // height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        .marker-inner {
            // width: 16px;
            // height: 16px;
            border-radius: 50%;
            // box-shadow: 0 0 5px rgba(30, 30, 30, 1);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.practice-marker {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 6;
        cursor: pointer;

        transition: width .3s ease, height .3s ease;
        -webkit-transition: width .3s ease, height .3s ease;

        &.highlighted {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 5px solid #9EA1A1;
            z-index: 10;
            box-shadow: 0 0 30px rgba(30, 30, 30, 1);

            .marker-inner {
                width: 30px;
                height: 30px;

                svg {
                    transform: scale(.75);
                    -webkit-transform: scale(.75)
                }
            }
        }

        .marker-inner {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #E31A2D;
            box-shadow: 0 0 5px rgba(30, 30, 30, 1);

            // svg {
            //     box-shadow: 0 0 5px rgba(30, 30, 30, 1);
            // }
        }
    }
}

.mapboxgl-popup {
    z-index: 10;
    font-family: 'Lato', sans-serif;

    &.mapboxgl-popup-anchor-bottom, &.mapboxgl-popup-anchor-bottom-right, &.mapboxgl-popup-anchor-bottom-left {
        .mapboxgl-popup-tip {
            border-top-color: #1e1e1e;
        }
    }

    &.mapboxgl-popup-anchor-top, &.mapboxgl-popup-anchor-top-right, &.mapboxgl-popup-anchor-top-left {
        .mapboxgl-popup-tip {
            border-bottom-color: #1e1e1e;
        }
    }

    &.mapboxgl-popup-anchor-right {
        .mapboxgl-popup-tip {
            border-left-color: #1e1e1e;
        }
    }

    &.mapboxgl-popup-anchor-left {
        .mapboxgl-popup-tip {
            border-right-color: #1e1e1e;
        }
    }

    .mapboxgl-popup-content {
        background-color: #1e1e1e;
        color: #9EA1A1;
        padding: 15px 30px 30px 30px;

        .mapboxgl-popup-close-button {
            color: #9EA1A1;
            padding: 5px 10px;
        }

        .popup-inner {
            max-width: 250px;
            position: relative;

            h1 {
                text-transform: uppercase;
                font-size: 1rem;
                line-height: 1.35rem;
            }

            h3 {
                margin: 0;
                font-size: .85rem;
                line-height: 1rem;
            }
        }
    }

    &.city-popup {
        .mapboxgl-popup-content {
            .popup-inner {
                width: 250px;

                img {
                    margin: 15px auto;
                    position: relative;
                    display: block;
                    margin-bottom: 20px;
                }

                h1 {
                    text-transform: uppercase;
                    font-size: 2rem;
                    line-height: 1.35rem;
                    text-align: center;
                    margin-bottom: 0;
                }

                .city-population {
                    text-align: center;
                    margin-top: 5px;
                    margin-bottom: 25px;
                }
                
                .city-description {
                    padding-right: 10px;
                    max-height: 145px;
                    overflow: hidden;
                    overflow-y: scroll;

                    ul {
                        padding-left: 15px;
                    }
                }
            }
        }
    }

    &.practice-popup {
        .mapboxgl-popup-content {
            .popup-inner {
                max-width: 300px;

                h1 {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                    text-align: left;
                    margin-bottom: 15px;
                }

                .practice-summary {
                    max-height: 350px;
                    overflow-y: auto;
                    padding-right: 15px;
                }

                .practice-links {
                    padding: 0;
                    margin-top: 15px;
                    list-style-type: none;

                    .practice-link-item {
                        .practice-link {
                            display: inline-block;
                            position: relative;
                            padding-left: 15px;
                            background-image: url('/assets/img/external-link-icon.svg');
                            background-size: 10px;
                            background-repeat: no-repeat;
                            background-position: left center;
                        }
                    }
                }
            }
        }
    }
}

a {
    color:  darken($textCol, 10);
}

ul {
    color: $textCol;
}